$white : #FFFFFF;
$black : #000000;
$light-blue: #24C6DC;
$light-blue2: #3c92c0;
$light-dark: #333333;
$color_tropical_rain_forest_approx: linear-gradient(117deg, #2f69a5 0%, #65a4d9 100%);
$color_gallery_approx: #eeeeee;
