.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  transition: all .3s;
  z-index: 1000;
  padding: .8rem 1rem;

  .icon-bar {
    width: 22px;
    height: 2px;
    background-color: white;
    display: block;
    transition: all 0.2s;
    margin-top: 4px
  }

  .navbar-brand {
    padding: 0;
  }

  .navbar-toggler, .navbar-toggler:focus {
    border: none;
    background: transparent !important;
    outline: 0;
  }

  .navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }

  .navbar-toggler .middle-bar {
    opacity: 0;
  }

  .navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }

  .navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
  }

  .navbar-toggler.collapsed .middle-bar {
    opacity: 1;
  }

  .navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
  }
  .navbar-brand {
    img {
      height: 40px;
    }
  }

  .navbar-nav .active>.nav-link, .navbar-nav .nav-link.active, .navbar-nav .nav-link.show, .navbar-nav .show>.nav-link {
    color: $light-blue;
  }

  .navbar-nav .nav-link {
    color: white;
    font-weight: 500;
    transition: all .3s;

    &:hover {
      transition: all .3s;
    }
  }


  &.scrolled {
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(28,88,152,.5);
    transition: all .3s;


    .icon-bar {
      background-color: black;
      display: block;
    }

    .navbar-nav .nav-link {
      color: #333;
      transition: all .3s;

      &:hover {
        color: $light-blue;
        transition: all .3s;
      }
    }
    .navbar-nav .active>.nav-link, .navbar-nav .nav-link.active, .navbar-nav .nav-link.show, .navbar-nav .show>.nav-link {
      color: $light-blue;
    }
  }
}